h1{
  background-image: -webkit-linear-gradient(left,
   #22c1c3, #fdbb2d 25%, #22c1c3 50%, #fdbb2d 75%, #22c1c3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: myGradientChange 4s infinite linear;
  animation: myGradientChange 4s infinite linear;
}
.description,.card h2{
  background-image: -webkit-linear-gradient(left,
   #fdbb2d, #22c1c3 25%, #fdbb2d 50%, #22c1c3 75%, #fdbb2d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: myGradientChange 4s infinite linear;
  animation: myGradientChange 4s infinite linear;
}
@keyframes myGradientChange  {
  0%{ background-position: 0 0;}
  100% { background-position: -100% 0;}
}
.v{
    padding:0 10px;
}
::-webkit-input-placeholder{
    color:#eee;
}    /* 使用webkit内核的浏览器 */
:-moz-placeholder{ color:#eee;}                  /* Firefox版本4-18 */
::-moz-placeholder{ color:#eee;}                  /* Firefox版本19+ */
:-ms-input-placeholder{ color:#eee;}           /* IE浏览器 */
.demo-and-code-wrapper{
    .hide{
        display:none;
    }
    .code-control .control-btn{
            justify-content: start;
    }
}
.custom-block.details {
    display: block;
    position: relative;
    border-radius: 2px;
    margin: 1.6em 0;
    padding: 1.6em;
    background-color: #eee;
}
.custon-block{
    .title{
        color:#389d70;
    }
}
.home .hero img {
    max-height: 180px!important;
    transfrom:translateZ(0);
}
.welcome-bg{
    width: 100px;
    height:120px;
    background:url(/frontend-blog/nibl.jpg);
    background-size:cover;
    margin:0 auto;
}
.emoj{
    font-size:2rem;
}
.navbar .site-name {
    color: #2c3e50;
    padding-left: 40px;
    background: url(/frontend-blog/nibllogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
